mended) you can uncomment the following to ignore the entire idea folder.
#.idea/

resultados_jpg/

results/cropped_results/

results/correlated_images/

results/image_results/

itp-forms/

node_modules/

01_pdf_uploads/
02_img_results/
03_cropped_images/
04_edited_cropped_images/
05_pdf_answers_folder/
06_images_answers_folder/
07_cropped_answers_folder/
media/teste/~$foi.xlsx

media/teste/foi.xlsx

media/07_xlsx_answers_folder/

itp_forms/core/__pycache__/

*.pyc

*.sqlite3
