
{% extends "base.html" %}
{% load static crispy_forms_tags %}


{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
    <div class="container-fluid full-height">
        <div class="row full-height">
            <div class="col-md-8">
                <div class="col-lg-12">
                    <img id="image" src="{{ image_path }}" alt="My Image" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
                </div>    
                <a href="{% url 'render_answers' %}" onclick="saveConfig()" class="btn btn-primary col-lg-12">
                    Salvar Configuração e prosseguir
                </a>
            </div>    
            <div class="col-md-4">
                <div class="container">
                    <div class="row justify-content-center align-items-center full-height">
                        <div class="col-md-12">
                            <h1> Configurar Formulário base </h1>
                                {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    
<script defer> 

    const UpdateInfoButton = document.getElementById('btn-update-info');

    document.getElementById('bt-set-grouping-1').addEventListener('click', () => {
        setMarker(1);
    });
    document.getElementById('bt-set-grouping-2').addEventListener('click', () => {
        setMarker(2);
    });
    document.getElementById('bt-set-grouping-3').addEventListener('click', () => {
        setMarker(3);
    });
    document.getElementById('bt-set-grouping-4').addEventListener('click', () => {
        setMarker(4);
    });

    $('#id_column_amount').on('input', function() {
        UpdateImage();
    })
    $('#id_y_space_between_cells').on('input', function() {
        UpdateImage();
    })
    $('#id_x_space_between_cells').on('input', function() {
        UpdateImage();
    })
    $('#id_first_group_row_amount').on('input', function() {
        UpdateImage();
    })

    const imageElement = document.getElementById('image');

    UpdateInfoButton.addEventListener('click', () => {
        UpdateImage();
    });

    async function setMarker(markerId){
        try {
            const response = await axios.get(`/set_marker/{{image_name}}/${markerId}`,{
                method: 'get',
            })
        } catch (e) {
            console.log(e)
        }
        realodImage()
    };

    function realodImage(){
        const Imagepath = imageElement.src;
        imageElement.src = '';
        imageElement.src = Imagepath+'?' + new Date().getTime();
    }

    function areValuesFilled(){
       return ($('#id_column_amount').val() != '' && $('#id_y_space_between_cells').val() != '' && $('#id_x_space_between_cells').val() != '' && $('#id_first_group_row_amount').val())
    }

    async function UpdateImage(){
        if  (!areValuesFilled()){
            return
        }
        try {
            const response = await axios.post("/update_image/{{image_name}}/",{
                'column_amount' : $('#id_column_amount').val(),
                'y_space_between_cells' : $('#id_y_space_between_cells').val(),
                'x_space_between_cells' : $('#id_x_space_between_cells').val(),
                'first_group_row_amount' : $('#id_first_group_row_amount').val(),
                'second_group_row_amount' : $('#id_second_group_row_amount').val(),
                'third_group_row_amount' : $('#id_third_group_row_amount').val(),
                'fourth_group_row_amount' : $('#id_fourth_group_row_amount').val(),
            },
            {
                headers: {'Content-Type': 'application/x-www-form-urlencoded',},
            }
            )
            console.log(response.data)
        } catch (e) {
            console.log(e)
        }
        realodImage()
    }

    async function saveConfig(){
        try {
            const response = await axios.post("/save_config/",{},
            )
            console.log(response.data)
        } catch (e) {
            console.log(e)
        } 
    }

    </script> 


{% endblock %}


