
{% extends "base.html" %}
{% load static crispy_forms_tags %}


{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
    <div class="container-fluid full-height">
        <div class="row full-height">
        <div class="col-md-8">
            <img id="image" src="{{ image_path }}" alt="My Image" style="max-width: 100%; max-height: 100%; width: auto; height: auto;">
        </div>
            
            <div class="col-md-4">
                <div class="container">
                    <div class="row justify-content-center align-items-center full-height">
                        <div class="col-md-12">
                            <h1> Configurar Formulário base </h1>

                                {% crispy form %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    
     <script>
        const reloadButton = document.getElementById('btn-update-image');

        const configureFirstCellButton = document.getElementById('bt-set-grouping-1');
        const configureSecondCellButton = document.getElementById('bt-set-grouping-2');
        const configureThirdCellButton = document.getElementById('bt-set-grouping-3');
        const configureFourthCellButton = document.getElementById('bt-set-grouping-2');

        const imageElement = document.getElementById('image');
        

    async function setInitialMarker(){
        try {
            debugger
            const response = await axios.get("/set_marker/{{image_name}}",{
                method: 'get',
            })
        } catch (e) {
            console.log(e)
        }
        realodImage()
    };

        configureFirstCellButton.addEventListener('click', () => {
        setInitialMarker();
    });

    reloadButton.addEventListener('click', () => {
        realodImage();
    });

    function realodImage(){
        const Imagepath = imageElement.src;
        imageElement.src = '';
        imageElement.src = Imagepath+'?' + new Date().getTime();
    }
    </script> 

{% endblock %}


